ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=
SESSION_SECRET=replace-with-at-least-32-random-characters
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.6ne1reh.mongodb.net/rednotebook?retryWrites=true&w=majority
MONGODB_DB=rednotebook
NEXT_PUBLIC_SITE_URL=http://localhost:3000
